/* ------------------------Fonts------------------------ */

@font-face {
    font-family: 'New Amsterdam-Regular';
    src: url('../fonts/NewAmsterdam-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit-Regular';
    src: url('../fonts/Outfit/static/Outfit-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit-SemiBold';
    src: url('../fonts/Outfit/static/Outfit-SemiBold.ttf');
    font-weight: bold;
    font-style: normal;
}

/* ------------------------General------------------------ */

html {
    scroll-behavior: smooth;
  }